// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-app1-primary: mat-palette($mat-amber);
$angular-app1-accent: mat-palette($mat-teal, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-app1-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-app1-theme: mat-light-theme(
  (
    color: (
      primary: $angular-app1-primary,
      accent: $angular-app1-accent,
      warn: $angular-app1-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-app1-theme);

html,
body {
  height: 100%;
}
body {
  min-width: 380px;
}
label {
  margin-bottom: 0;
  line-height: 1;
}
fieldset {
  padding: 0 1rem 1rem;
}
legend {
  display: inline-block;
  width: auto;
  max-width: none;
  padding: 0 .5rem;
  font-size: inherit;
}
.app-row {
  margin-right: -15px;
  margin-left: -15px;
}
input.mat-input-element {
  margin-top: 0;
}
.page-controls {
  position: relative;
  i {
    font-style: normal;
  }
  .icon-container {
    cursor: pointer;
    position: absolute;
    top: -2.6rem;
    right: 0;
    height: 2.1rem;
    width: 2.1rem;
    text-align: center;
    font-size: 32px;
    &.clear {
      right: 2.6rem;
    }
  }
  .dropdown-menu {
    left: auto;
    right: 0;
    top: -0.5rem;
  }
  .dropdown-item {
    padding: 0.5rem 1.5rem;
    &.active,
    &:active {
      color: #212529;
      background-color: #ffc107;
    }
  }
}
.sub-header {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
}
