<h3>Load ID: {{ loadId }} <span *ngIf="showErrorMessage">not&nbsp;found in DB</span></h3>
<div class="pt-2">
  <div *ngIf="showLoad">
    <p>Formed {{ load.formed | date: 'medium' }}</p>
    <div class="container-xl">
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">Status:</div>
            <div class="col-8 px-0">
              <h5 class="mb-0">
                <span class="badge badge-{{ load.status.id === loadInStorageStatusId ? 'info' : 'light' }}">{{ load.status | title }}</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">Declared cost:</div>
            <div class="col-8 px-0">{{ load.declaredCost || 0 | currency: 'USD' }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">From:</div>
            <div class="col-8 px-0">{{ load.fromDepartment | title }}</div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">To:</div>
            <div class="col-8 px-0">{{ load.toDepartment | title }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">Service:</div>
            <div class="col-8 px-0">{{ load.service | title }}</div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">Packaging:</div>
            <div class="col-8 px-0">{{ load.packaging | title }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">Dimesions:</div>
            <div class="col-8 px-0">{{ load.length }} x {{ load.width }} x {{ load.height }}</div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">Weight:</div>
            <div class="col-8 px-0">{{ load.weight }}</div>
          </div>
        </div>
      </div>
      <div class="app-row clearfix pt-2">
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Load controls">
          <button [disabled]="load.status.id !== loadInStorageStatusId" routerLink="/loads/{{ loadId }}/edit" class="btn btn-light px-5">Edit</button>
          <button [disabled]="load.status.id !== loadInStorageStatusId" routerLink="/loads/{{ loadId }}" (click)="deleteLoad()" class="btn btn-warning">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
