<h3 class="app-pr-5x2">
  <span class="text-nowrap d-inline-block mr-2">{{ staticData.header[0] }}</span>
  <span class="text-nowrap d-inline-block mr-2">{{ loadId }}</span>
  <span *ngIf="showErrorMessage" class="text-nowrap d-inline-block">{{ staticData.header[1] }}</span>
</h3>
<app-loads-nav [edit]="false"></app-loads-nav>
<div class="pt-2">
  <div *ngIf="showLoad">
    <p>{{ staticData.formed.concat(load.formed | date: 'medium') }}</p>
    <div class="container-xl">
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">{{ staticData.status }}</div>
            <div class="col-8 px-0">
              <h5 class="mb-0">
                <span class="badge badge-{{ load.status.id === loadInStorageStatusId ? 'info' : 'light' }}">{{ load.status | title }}</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">{{ staticData.cost }}</div>
            <div class="col-8 px-0">{{ load.declaredCost || 0 | currency: 'USD' }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">{{ staticData.from }}</div>
            <div class="col-8 px-0">{{ load.fromDepartment | title }}</div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">{{ staticData.to }}</div>
            <div class="col-8 px-0">{{ load.toDepartment | title }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">{{ staticData.service }}</div>
            <div class="col-8 px-0">{{ load.service | title }}</div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">{{ staticData.packaging }}</div>
            <div class="col-8 px-0">{{ load.packaging | title }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">{{ staticData.dimesions }}</div>
            <div class="col-8 px-0">{{ load.length }} x {{ load.width }} x {{ load.height }}{{ settings && ' ' + units[settings.unitsSystem.id]['length'] }}</div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-4 px-0 pr-sm-2 font-weight-bolder">{{ staticData.weight }}</div>
            <div class="col-8 px-0">{{ load.weight }}{{ settings && ' ' + units[settings.unitsSystem.id]['weight'] }}</div>
          </div>
        </div>
      </div>
      <div class="app-row clearfix pt-2">
        <div class="btn-group btn-group-lg float-right">
          <button [disabled]="load.status.id !== loadInStorageStatusId" routerLink="/loads/{{ loadId }}/edit" class="btn btn-light px-5">{{ staticData.bttnEdit }}</button>
          <button [disabled]="load.status.id !== loadInStorageStatusId" routerLink="/loads/{{ loadId }}" (click)="deleteLoad()" class="btn btn-warning">{{ staticData.bttnDelete }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
