<div class="{{ (data.isRow ? 'row' : 'app-row').concat(' ').concat(data.rowClasses) }}">
  <div class="{{ data.labelClasses || 'pt-2 pt-sm-0' }}"><label for="input-{{ data.property }}">{{ data.label }}:</label></div>
  <div class="{{ data.inputClasses || '' }}">
    <app-default-value *ngIf="data.clearable" [controls]="[control]" [defaults]="['']"></app-default-value>
    <input type="text" class="form-control" [class.is-invalid]="(data.required ? control.touched : true) && control.invalid" [formControl]="control" id="input-{{ data.property }}" placeholder="{{ data.placeHolder }}">
  </div>
</div>
