<h3 class="app-pr-5x2">
  <span class="text-nowrap d-inline-block mr-2">{{ loadId ? staticData.edit.header : staticData.new.header }}</span>
  <a *ngIf="loadId" routerLink="/loads/{{ loadId }}" class="text-nowrap d-inline-block">{{ loadId }}</a>
</h3>
<app-loads-nav *ngIf="loadId" [edit]="true"></app-loads-nav>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div class="container-xl pt-2">
    <div *ngIf="showErrorMessage" class="alert alert-danger border border-danger app-row">
      <h5 class="mb-0">
        <span class="text-nowrap d-inline-block mr-2">{{ staticData.edit.errMessage[0].concat(loadId) }}</span>
        <span class="text-nowrap d-inline-block">{{ staticData.edit.errMessage[1] }}</span>
      </h5>
    </div>
    <div *ngIf="loadId" class="row">
      <input type="hidden" formControlName="formed">
      <app-item-select class="{{ statusControlData.classes }}" [data]="statusControlData" [stack]="options[statusControlData.stackId]" (controlOutputEvent)="addFormControl($event)"></app-item-select>
    </div>
    <div *ngFor="let row of selectControlsData" class="row">
      <app-item-select *ngFor="let item of row" class="{{ item.classes }}" [data]="item" [stack]="options[item.stackId]" (controlOutputEvent)="addFormControl($event)"></app-item-select>
    </div>
    <div class="row">
      <app-item-input-text *ngFor="let item of inputControlsData" class="{{ item.classes }}" [data]="item" (controlOutputEvent)="addFormControl($event)"></app-item-input-text>
    </div>
    <div class="w-50 pt-3 pt-sm-0 mx-auto">
      <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-lg w-100">{{ staticData[loadId ? 'edit' : 'new'].bttnSubmit }}</button>
    </div>
  </div>
</form>
