<h3>{{ loadId ? 'Edit load ID: '.concat(loadId) : 'Create new load' }}</h3>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div class="container-xl">
    <div *ngIf="showErrorMessage" class="alert alert-danger app-row" role="alert">
      <h5>Load ID: {{ loadId }} not&nbsp;found in DB</h5>
    </div>
    <div *ngIf="loadId" class="row">
      <input type="hidden" formControlName="formed">
      <app-item-select class="{{ statusControlData.classes }}" [data]="statusControlData" [stack]="options[statusControlData.stackId]" (controlOutputEvent)="addFormControl($event)"></app-item-select>
    </div>
    <div *ngFor="let row of selectControlsData" class="row">
      <app-item-select *ngFor="let item of row" class="{{ item.classes }}" [data]="item" [stack]="options[item.stackId]" (controlOutputEvent)="addFormControl($event)"></app-item-select>
    </div>
    <div class="row">
      <app-item-input-text *ngFor="let item of inputControlsData" class="{{ item.classes }}" [data]="item" (controlOutputEvent)="addFormControl($event)"></app-item-input-text>
    </div>
    <div class="w-50 pt-3 pt-sm-0 mx-auto">
      <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-lg w-100">{{ loadId ? 'Edit' : 'Create' }} Load</button>
    </div>
  </div>
</form>
