.loads-filter-controls {
  position: relative;
  i {
    font-style: normal;
  }
  .icon-container {
    cursor: pointer;
    position: absolute;
    top: -2.6rem;
    right: 0;
    height: 2.1rem;
    width: 2.1rem;
    text-align: center;
    font-size: 32px;
    &.clear {
      right: 2.6rem;
    }
  }
}
