<div class="container-xl pt-2">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="row">
        <app-item-input-text class="{{ idFieldData.classes }}" [data]="idFieldData" (controlOutputEvent)="addFormControl($event)"></app-item-input-text>
        <app-item-datepicker class="{{ formedFieldData.classes }}" [data]="formedFieldData" (controlOutputEvent)="addFormControl($event)"></app-item-datepicker>
      </div>
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="row">
        <app-item-select *ngFor="let item of selectFieldsData" class="{{ item.classes }}" [data]="item" [stack]="selectOptions && selectOptions[item.stackId]" (controlOutputEvent)="addFormControl($event)"></app-item-select>
      </div>
    </div>
  </div>
</div>
