<h3>{{ staticData.header }}</h3>
<div class="container-xl pt-2">
  <div *ngFor="let row of mainTextItemsData" class="row">
    <app-main-item *ngFor="let item of row" class="{{ item.classes }}" [data]="item" value="{{ mainData && (item.hasTitle && (mainData[item.valueId] | title) || mainData[item.valueId]) }}" units="{{ mainData && mainData.unitsSystem && item.unitsType && unitsData[mainData.unitsSystem.id][item.unitsType] }}"></app-main-item>
  </div>
  <div class="row">
    <app-main-item-selectable *ngFor="let item of mainSelectableItemsData" class="col-sm-4 mb-2" label="{{ item.label }}" [values]="mainData && mainData[item.valuesId]" [options]="mainData && mainData[item.optionsId]"></app-main-item-selectable>
  </div>
</div>
