<div *ngIf="mainData?.firstRunOfApp" class="container-xl pt-2">
  <h5>First run of {{ appName }} {{ appVersion }}</h5>
  <p>This software uses local storage as a database. Consider this if you are going to use {{ appName }} for managing big amount of data.</p>
  <p>It does not have backend and server, all computing goes in your browser.</p>
</div>
<h3>Database summary</h3>
<div class="container-xl pt-2">
  <div *ngFor="let row of mainStaticItemsData" class="row">
    <app-main-item *ngFor="let item of row" class="{{ item.classes }}" label="{{ item.label }}" value="{{ mainData && (item.hasTitle && (mainData[item.valueId] | title) || mainData[item.valueId]) }}" units="{{ item.units }}" supSign="{{ item.supSign }}"></app-main-item>
  </div>
  <div class="row">
    <app-main-item-selectable *ngFor="let item of mainSelectableItemsData" class="col-sm-4 mb-2" label="{{ item.label }}" [values]="mainData && mainData[item.valuesId]" [options]="mainData && mainData[item.optionsId]"></app-main-item-selectable>
  </div>
</div>
