<h3>Loads</h3>
<app-loads-filter (filterEvent)="filterLoadsList($event)"></app-loads-filter>
<div class="container-xl pt-2">
  <div class="row">
    <div class="col-3 col-md-2 px-0">
      <div class="text-truncate font-weight-bolder pr-1" title="ID">ID:</div>
    </div>
    <div class="col-2 px-0">
      <div class="text-truncate font-weight-bolder pr-1" title="Formed">Formed:</div>
    </div>
    <div class="col-2 px-0">
      <div class="text-truncate font-weight-bolder pr-1" title="From">From:</div>
    </div>
    <div class="col-2 px-0">
      <div class="text-truncate font-weight-bolder pr-1" title="To">To:</div>
    </div>
    <div class="col-2 px-0">
      <div class="text-truncate font-weight-bolder pr-1" title="Service">Service:</div>
    </div>
    <div class="col-1 col-md-2 px-0">
      <div class="text-truncate font-weight-bolder pr-1" title="Packaging">Packaging:</div>
    </div>
  </div>
  <div *ngFor="let load of (loads && loads.reverse())" class="row{{ load.status.id === loadInStorageStatusId ? '' : ' font-weight-light text-muted' }}">
    <div class="col-3 col-md-2 px-0">
      <div class="text-truncate pr-1 py-1" title="{{ load.id }}"><a routerLink="/loads/{{ load.id }}">{{ load.id }}</a></div>
    </div>
    <div class="col-2 px-0">
      <div class="text-truncate pr-1 py-1" title="{{ load.formed | date: 'short' }}">{{ load.formed | date: 'short' }}</div>
    </div>
    <div class="col-2 px-0">
      <div class="text-truncate pr-1 py-1" title="{{ load.fromDepartment | title }}">{{ load.fromDepartment | title }}</div>
    </div>
    <div class="col-2 px-0">
      <div class="text-truncate pr-1 py-1" title="{{ load.toDepartment | title }}">{{ load.toDepartment | title }}</div>
    </div>
    <div class="col-2 px-0">
      <div class="text-truncate pr-1 py-1" title="{{ load.service | title }}">{{ load.service | title }}</div>
    </div>
    <div class="col-1 col-md-2 px-0">
      <div class="text-truncate pr-1 py-1" title="{{ load.packaging | title }}">{{ load.packaging | title }}</div>
    </div>
  </div>
</div>
